@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --softer-blue: hsla(231, 59%, 66%, 0.747);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --light-grayish-blue: hsl(229, 8%, 90%);
  --v-d-blue: hsl(229, 31%, 21%);
  --transparent-blue: hsla(227, 31%, 12%, 0.932);
  --font: "Rubik", sans-serif;
}

.btn {
  border: none;
  border-radius: 5px;
  font-family: inherit;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn-blue {
  background: var(--soft-blue);
  border: 2px solid var(--soft-blue);
  color: #fff;
}

.btn-blue:hover,
.btn-blue:focus {
  color: var(--soft-blue);
  background-color: #fff;
}

.btn-white {
  border: 2px solid transparent;
  -webkit-box-shadow: 2px 2px 5px gray;
  box-shadow: 2px 2px 5px gray;
  background-color: #fff;
  color: var(--v-d-blue);
}

.btn-white:hover,
.btn-white:focus {
  border: 2px solid var(--v-d-blue);
}

.form-btn {
  background: var(--soft-red);
  border: 2px solid var(--soft-red);
  color: #fff;
  height: 100%;
}

.form-btn:hover,
.form-btn:focus {
  color: var(--soft-red);
  background-color: #fff;
}

.login-btn {
  text-transform: uppercase;
  color: #fff;
  background-color: var(--soft-red);
  border: 2px solid var(--soft-red);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-btn:hover,
.login-btn:focus {
  color: var(--soft-red);
  background: #fff;
}

body {
  font-family: var(--font);
}

p,
.tabs-list li {
  color: var(--grayish-blue);
  text-align: center;
  max-width: 35rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--v-d-blue);
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* *****************NAVIGATION */

nav {
  padding: 0 7vw;
  height: 5.5rem;
  background-color: #fff;
  z-index: 100;
}

nav.fixed {
  position: fixed;
  /* top: 0; */
  left: 0;
  width: 100%;
  animation: slide 0.5s linear;
  box-shadow: 0 0 2px var(--soft-blue);
}

@keyframes slide {
  from {
    top: -5rem;
  }
  to {
    top: 0;
  }
}

.close {
  display: none;
}

nav.active {
  background: var(--transparent-blue);
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  //animation: fade 1.6s ease-out;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav.active .hamburger {
  display: none;
}

nav.active .close {
  display: block;
}

nav.active .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  color: white;
  -webkit-animation: fade 1s ease-out;
  animation: fade 1s ease-out;
}

nav.active .nav-logo path {
  fill: #fff;
}

nav.active .nav-list li:not(.login-btn-item) {
  padding: 1.5rem 0;
  border-bottom: 1px solid white;
}

.login-btn-item {
  margin: 3rem 0 6rem 0;
}

.login-btn {
  width: 15rem;
}

nav.active .login-btn {
  background-color: transparent;
  border: 2px solid white;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  width: 30%;
}

.nav-list {
  display: none;
}

.toggler {
  display: block;
  cursor: pointer;
}

.nav-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -ms-flex-item-align: start;
  align-self: start;
  padding: 2rem 0;
}

nav li {
  text-transform: uppercase;
}

@media (min-width: 500px) and (orientation: landscape) {
  nav.active .login-btn-item {
    margin: 1rem 0;
  }

  nav.active {
    margin: 0;
  }

  nav.active .nav-list {
    margin-top: 0;
  }

  nav.active .nav-list li:not(.login-btn-item) {
    padding: 0.8rem 0;
    border: none;
  }
}

@media (min-width: 1000px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .login-btn-item {
    margin: 0;
  }

  .toggler {
    display: none;
  }

  .mobile-socials {
    display: none;
  }

  .nav-list li:not(.desktop-nav-logo) {
    color: var(--v-d-blue);
    margin-left: 3rem;
  }

  .nav-list li:hover,
  .nav-list li:focus {
    color: var(--soft-red);
  }
}

/* ****************HERO */

.hero {
  padding: 2rem 1rem;
}

.hero-header {
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
}

.hero-text {
  padding: 2rem 1rem;
}

.hero-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.hero-btns .btn {
  font-size: 0.7rem;
}

@media (min-width: 500px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-image img {
    height: 10rem;
  }

  .hero-btns .btn {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 3rem 7vw;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .hero-image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

  .hero-image img {
    width: 80%;
    height: 80%;
  }

  .hero-body {
    width: 55%;
  }

  .hero-header,
  .hero-text,
  .hero-btns {
    text-align: left;
  }

  .hero-header {
    font-size: 3rem;
  }

  .hero-text {
    padding: 2rem 0;
  }

  .hero-btns {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .hero-btns .btn {
    margin-right: 1.5rem;
  }
}

@media (min-width: 1100px) {
  .hero-body {
    width: 35%;
  }
}
/* **************** FEATURES */
.features {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem auto;
}

.features-text {
  margin: 1.5rem auto;
}

.tabs-list {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.tab-controller {
  position: relative;
  border-bottom: 2px solid var(--light-grayish-blue);
  padding: 1rem 0;
  cursor: pointer;
  margin: 0 auto;
}

.tab-controller:first-of-type {
  border-top: 2px solid var(--light-grayish-blue);
}

.tab-controller.active {
  color: var(--v-d-blue);
}

.tab-controller::after {
  content: "";
  background-color: var(--soft-red);
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleX(0);
  -ms-transform: translateX(-50%) scaleX(0);
  transform: translateX(-50%) scaleX(0);
  left: 50%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tab-controller.active::after {
  -webkit-transform: translateX(-50%) scaleX(1);
  -ms-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}

.tabs-container {
  padding: 2rem 0 0 0;
  position: relative;
  //height: 27rem;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tab {
  /* position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  margin-top: 2rem; */
  display: none;
}

.tab.active {
  display: block;
  -webkit-animation: fade 1s ease;
  animation: fade 1s ease;
}

.tab-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-image img {
  height: auto;
  margin: auto;
  width: 80%;
}

.tab-body {
  margin-top: 1rem;
}

.tab-header {
  font-weight: 500;
  margin: 1.7rem 0;
}

.tab-btn {
  display: none;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 650px) {
  .tabs-list {
    padding: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .tab-controller {
    width: 100%;
  }

  .tab-controller:hover {
    color: var(--v-d-blue);
  }
  .tab-controller:hover::after {
    -webkit-transform: translateX(0) scaleX(1);
    -ms-transform: translateX(0) scaleX(1);
    transform: translateX(0) scaleX(1);
    background: var(--soft-red);
  }

  .tab-controller:first-of-type {
    border-top: none;
  }

  .tab-controller::after {
    width: 100%;
    left: 0;
  }

  .tab-controller.active::after {
    -webkit-transform: translateX(0) scaleX(1);
    -ms-transform: translateX(0) scaleX(1);
    transform: translateX(0) scaleX(1);
  }

  .tabs-container {
    padding: 0;
    max-width: 1300px;
    height: 16rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .tab {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  .tab.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 20rem;
  }

  .tab-image {
    width: 50%;
    height: 12rem;
  }

  .tab-image img {
    margin: auto;
  }

  .tab-body {
    width: 50%;
    height: 100%;
  }

  .tab-header {
    text-align: left;
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }

  .tab-text {
    text-align: left;
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .tab-body {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }

  .tabs-container {
    padding: 3rem 0;
  }

  .tabs-list {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 55rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .tab-btn {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: absolute;
    bottom: 0;
  }

  .tab-controller:hover {
    color: var(--v-d-blue);
  }
  .tab-controller:hover::after {
    -webkit-transform: translateX(0) scaleX(1);
    -ms-transform: translateX(0) scaleX(1);
    transform: translateX(0) scaleX(1);
    background: var(--soft-red);
  }

  .tab-controller.active::after {
    -webkit-transform: translateX(0) scaleX(1);
    -ms-transform: translateX(0) scaleX(1);
    transform: translateX(0) scaleX(1);
  }

  .tab {
    height: 100%;
  }

  .tab-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }

  .tab-header {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1100px) {
  .tab-text {
    font-size: 1.3rem;
  }
}

/* ****************   DOWNLOADS */
.downloads {
  padding: 2rem 0 0;
}

.downloads-text {
  padding: 0.5rem 1rem;
  margin: 2rem auto;
}

.card {
  width: 20rem;
  padding: 2rem 0;
  -webkit-box-shadow: 2px 2px 10px var(--light-grayish-blue);
  box-shadow: 2px 2px 10px var(--light-grayish-blue);
  border-radius: 10px;
  margin: 1.5rem auto 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-btn {
  margin-top: 1rem;
}

.card-text {
  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: 4px dotted var(--light-grayish-blue);
}

.card-text p {
  margin: 1rem 0;
}

.card-header {
  margin-top: 2rem;
}

@media (min-width: 700px) {
  .cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .card:last-of-type {
    margin-top: 1.5rem;
  }

  .downloads-text {
    max-width: 35rem;
  }
}

@media (min-width: 1100px) {
  .cards-container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 3rem 0 10rem 0;
  }

  .card:nth-of-type(2) {
    position: relative;
    top: 3rem;
  }

  .card:nth-of-type(3) {
    position: relative;
    top: 6rem;
  }

  .card:hover {
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem);
    -webkit-box-shadow: 2px 2px 10px var(--grayish-blue);
    box-shadow: 2px 2px 10px var(--grayish-blue);
  }
}

/* ******************QUESTIONS */

.questions {
  padding: 3rem 1rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.questions > .btn {
  -ms-grid-column-align: center;
  justify-self: center;
}

.q-text {
  text-align: left;
  padding-bottom: 0.8rem;
}

.questions-header {
  margin: 1.5rem 0;
}

.questions-text {
  max-width: 30rem;
  margin: 0 auto;
}

.questions-list {
  max-width: 35rem;
  margin: 0 auto;
}

.q-btn {
  width: 100%;
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 0.6rem;
}

.q-content {
  max-height: 0;
  -webkit-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
  overflow: hidden;
}

.question-item {
  margin: 2.5rem 0;
  border-bottom: 2px solid var(--light-grayish-blue);
}

.question-item:first-of-type {
  border-top: 2px solid var(--light-grayish-blue);
  padding-top: 2rem;
}

.question-item h3 {
  font-weight: 500;
}

.question-item.show .q-content {
  max-height: 20rem;
}

.arrow {
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.question-item.show .arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* CALL TO ACTION */
.cta-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 3rem 1em 3rem;
  grid-template-rows: 3rem 3rem;
  row-gap: 1em;
  width: 20rem;
  margin: 0 auto;
  position: relative;
}
.cta-form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.cta-form > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

input,
button {
  height: 100%;
}

.cta {
  background-color: var(--soft-blue);
  padding: 2rem 1rem;
  height: 20rem;
}

.submit-message {
  color: #fff;
  margin: 0 auto;
  width: 15rem;
  text-align: center;
  display: none;
}

.input-container {
  position: relative;
}

input {
  //height: 48px;
  border-radius: 5px;
  border: none;
  //margin: 1.5rem 0;
  font-family: inherit;
  padding-left: 1rem;
  color: var(--grayish-blue);
}

.cta-text,
.cta-header {
  color: #fff;
  margin: 1rem auto;
  letter-spacing: 0.1em;
  text-align: center;
  max-width: 20rem;
}

small {
  position: absolute;
  content: "Message";
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  height: 1rem;
  width: 60%;
  border-radius: 5px;
  left: 0;
  color: #fff;
  background-color: var(--soft-red);
  bottom: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -10;
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.cta-form.error input {
  border: 2px solid var(--soft-red);
}

.cta-form.error small {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 0;
}

@media (min-width: 1000px) {
  .cta-form {
    -ms-grid-columns: 60% 1em auto;
    grid-template-columns: 60% auto;
    width: 30rem;
    -ms-grid-rows: 3rem;
    grid-template-rows: 3rem;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
  }
  .cta-form > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .cta-form > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .cta {
    height: 15rem;
  }

  .input-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 30rem;
  }

  .cta-header {
    font-size: 1.5rem;
  }
}

/* FOOTER */

footer {
  background-color: var(--v-d-blue);
  color: white;
  padding: 1.5rem 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-nav-list li {
  text-transform: uppercase;
  margin-bottom: 1.8rem;
  font-size: 0.9rem;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 1000px) {
  footer {
    padding: 2rem 7vw;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 2rem;
    grid-template-rows: 2rem;
  }
  footer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  footer > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .footer-nav-list li {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }

  .footer-nav-list {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-grid-column-align: start;
    justify-self: start;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .footer-nav-list li:hover,
  .footer-nav-list li:focus {
    color: var(--soft-red);
  }

  .footer-social-list li:hover svg path,
  .footer-social-list li:focus svg path {
    fill: var(--soft-red);
  }

  .footer-social-list {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-column-align: end;
    justify-self: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
